/* tomato friend css */

body {
	background-image: linear-gradient(#e6ff99,#99cc00,#e6ff99);
}

#frame {
	position: absolute;
	float: left;
}

#menu {
	overflow: hidden;
	border: 1px solid red;
	background-color: tomato;
}

#wolf{
	position: absolute;
	left: 800px;
	top: 350px;
}

/* Style the buttons that are used to open the tab content */
#menu button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
#menu button:hover {
	background-color: tomato;
}

/* Create an active/current tablink class */
#menu button.active {
	background-color: tomato;
}

#clothing {
	display: none;
}

#bigMenu {
	float: right;
	border: 5px ridge tomato;
	background-color: white;
	width: 200px;
}

.btn {
	height: 50px;
	width: 50px;
}

#tomato {
	border: 5px ridge tomato;
	background-image: linear-gradient(#e6ff99,#99cc00,#e6ff99);
	/*background-color: white;*/
	width: 300px;
	padding: 100px;
	z-index: 1;
} 

.item {
	position: absolute;
	right: 400px;
	top: 250px;
	z-index: 2;
	display: none;
}

#pants    {height: 200px; width: 500px;}
#shorts   {height: 150px; width: 500px;}
#eyebrows {height: 100px; width: 200px;}
#eyes1    {height: 100px; width: 200px;}
#eyes2    {height: 100px; width: 200px;}
#eyes3    {height: 100px; width: 200px;}
#eyes4    {height: 100px; width: 200px;}
#eyes5    {height: 100px; width: 200px;}
#mouth1   {height: 70px; width: 200px;}
#nose     {height: 90px; width: 70px;}
#bowler   {height: 200px; }
#cowboy   {height: 200px; width: 400px;}
#snapback {height: 200px; width: 300px;}










