/* tomato friend css */

body {
	background-image: linear-gradient(turquoise,blue,turquoise);
}

#clothing {
	float: right;
}

#tomato {
	border: 5px ridge red;
	background-color: white;
	width: 300px;
	padding: 50px;
	z-index: 1;
  } 

#pants {
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 2;
	display: none;
}

#shorts {
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 3;
	display: none;
}

#drag2 {
	height: 200px;
	width: 500px;
}

#drag3 {
	height: 100px;
	width: 500px;
}